<head>
  <title><%- page.title %></title>
  <meta name="description" content="<%- page.description ? page.description : site.data.config.description %>" />
  <script src="/app.js"></script>
  <link href="/app.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
