<ul class="top-nav">
  <li><a href="/">Home</a></li>
  <li><a href="/hello">hello</a></li>
  <li><a href="/hello/world">world</a></li>
  <li><a href="/video">video</a></li>
  <li><a href="/foo">foo (redirect)</a></li>
  <li><a href="/fsdfsfsfs">bad link</a></li>
</ul>
